{
	email {$ACME_EMAIL}
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

www.{$UK_SITE_DOMAIN} {
	redir https://{$UK_SITE_DOMAIN}{uri} permanent
}

{$LEGACY_UK_SITE_DOMAIN}, www.{$LEGACY_UK_SITE_DOMAIN} {
	redir https://{$UK_SITE_DOMAIN}{uri} permanent
}

{$SITE_DOMAIN}, {$UK_SITE_DOMAIN} {
	import /etc/caddy/auth.caddy
	encode zstd gzip
	reverse_proxy frontend:3000
}

{$CMS_DOMAIN} {
	encode zstd gzip
	reverse_proxy wordpress:80
}
